<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel.user"
    >
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- android13需要新增以下权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity

            android:name="com.travel.user.ui.register.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.travel.user.ui.register.UserPasswordSettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.travel.user.ui.register.UserEmailAddressActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.travel.user.ui.register.UserSetNickNameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.travel.user.ui.verification.UserVerificationCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.travel.user.ui.verification.UserEmailVerificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.travel.user.ui.login.UserEmailLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.travel.user.ui.support.UserSupportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.travel.user.ui.preferences.UserPreferencesAccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.travel.user.ui.order.UserOrdersActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>