<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel.home">
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">

        <activity android:name="com.travel.home.ui.HomeCityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.travel.home.ui.search.HomeSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.travel.home.ui.more.HomeRecommendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.city.HomeCityDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.city.HomeSightseeingDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.city.HomeRestaurantDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.city.HomeShopDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.city.HomeTripDetailActivity"
            android:screenOrientation="portrait"/>

    </application>
</manifest>